# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
copyright: Copyright &copy; 2025 Josh Thomas
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.tilde
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Installation: installation.md
  - Configuration:
      - configuration/index.md
      - TagSpecs: configuration/tagspecs.md
  - Clients:
      - clients/index.md
      - Neovim: clients/neovim.md
      - Sublime Text: clients/sublime-text.md
      - VS Code: clients/vscode.md
      - Zed: clients/zed.md
  - Versioning: versioning.md
  - Changelog: changelog.md
  - Contributing: contributing.md
repo_name: django-language-server
repo_url: https://github.com/joshuadavidthomas/django-language-server
site_author: joshuadavidthomas
site_name: Django Language Server
site_url: https://djls.joshthomas.dev
theme:
  custom_dir: docs/overrides
  features:
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tracking
    - search.highlight
    - search.suggest
  font:
    code: Fira Code
    text: Inter
  icon:
    repo: fontawesome/brands/github
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
