repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: ["--unsafe"] # breaks on .mkdocs.yml otherwise
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: ["--branch", "main"]
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.2
    hooks:
    - id: zizmor
