name: bench

on:
  pull_request:
    paths:
      - ".github/workflows/bench.yml"
      - "crates/**"
      - "Cargo.lock"
      - "Cargo.toml"
  push:
    branches: [main]
    paths:
      - ".github/workflows/bench.yml"
      - "crates/**"
      - "Cargo.lock"
      - "Cargo.toml"
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
        with:
          toolchain: stable

      - run: cargo install cargo-codspeed --locked

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@346a2d8a8d9d38909abd0bc3d23f773110f076ad
        with:
          mode: instrumentation
          run: cargo codspeed run
